<div class="map_msg">

        <div class = "map">
            <h1> google map</h1>
            <div class="space"></div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d864.1381154704355!2d31.257187076211064!3d29.963549054131622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145847410c0d9877%3A0xc44d9ce287c60be!2sElking%20store!5e0!3m2!1sar!2seg!4v1570348455977!5m2!1sar!2seg" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        </div> 
        <div class ="send_msg">
    
            <h4> Send Msg</h4>
            <input type ="text" class="name" placeholder=" your name ">
            <input type =" email" class="email" placeholder=" your  email ">
             
            <textarea cols="40" rows ="20" class="textArea" placeholder="Write your Msg and sent it ">  </textarea>
                <button class="send_btn">Send</button>
    </div>
    <div class='add'>
            <div class="address1">
                <h3>{{view.phone}}</h3>
                <p>{{view.address}}</p>
                <p>{{view.country}}</p>
              </div>
          <div class="address">
            <h2>E-Mail Us</h2>
            <p>{{view.gmail}}</p>
            <p>{{view.gmail}}</p>
          </div>
          <div class="address">
            <h3>Keep In Touch</h3>
            <div class="address-facebook">
              <img src="assets/Images/facebook.png" alt="FaceBook icon">
              <p class="facebook">{{view.name}}</p>
            </div>
            <div class="address-linkdin">
              <img src="assets/Images/linkedin.png" alt="LinkdIn icon">
              <p class="linkdin">{{view.linked}}</p>
            </div>
          </div>
</div>
       