<div class="container">

  <!-- ************* The Nav Starts Here ****************** -->
  <div class="nav">
    <ul>
      <li><a class="current" href='/index'>Home</a></li>
      <li><a href="/Login">Login</a></li>
      <li><a href="/Signup">Sign up</a></li>
      <li><a href="/Contactus">Contact Us</a></li>
    </ul>
    <div>
      <input type="text" placeholder="Search with car type">
      <button>Search</button>
      <p id="demo" style="color: beige;float:left;padding: 10px 0 10px 10px;"></p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
