<div class="container" style=" margin-top:-140px;   background: url('assets/Images/background-car.jpg') no-repeat 100%;
background-size: cover;
height: 754px;
width: 100%;">
        <!-- ***************** Nav starts here *********** -->
        <!-- <div id="elem">A blinking element</div> -->
        <!-- <p id="demo" style="color: beige;"></p>
        <button onclick="myStopFunction()">Stop Time</button>
        <button onclick="myContinueFunction()">Continue Time</button> -->
                <!-- ***************** Nav ends here *********** -->
           <!-- ************ The SignUp Card Starts Here ******* -->
         <div style="margin-top:100px;">
             <div class="signup-card">
                 <form>
                     <div>
                       <div class="form-group">
                         <label for="FirstName">First Name</label>
                         <input type="text" class="form-control" id="FirstName" placeholder="First Name">
                       </div>
                       <div class="form-group">
                         <label for="LastName">Last Name</label>
                         <input type="text" class="form-control" id="LastName" placeholder="Last Name">
                       </div>
                       <div class="form-group">
                         <label for="Password">Password</label>
                         <input type="password" class="form-control" id="Password" placeholder="Password">
                       </div>
                       <div class="form-group">
                         <label for="Re-password">Re-password</label>
                         <input type="password" class="form-control" id="Re-password" placeholder="Re-password">
                       </div>
                     </div>
                     <div class="form-group">
                       <label for="PhoneNumber">Phone Number</label>
                       <input type="tel" class="form-control" id="PhoneNumber" placeholder="Phone Number">
                     </div>
                     <div class="form-group">
                       <label class="label" for="inputAddress">Address</label>
                       <input type="text" class="form-control" id="inputAddress" placeholder="Type Your Adress">
                     </div>
                     <div>
                       <div class="form-group">
                         <label class="label" for="inputCity">City</label>
                         <input type="text" class="form-control" id="inputCity" placeholder="City">
                       </div>
                       <div class="form-group">
                         <label class="label" for="inputCountry">Country</label>
                         <input type="text" class="form-control" id="inputCountry" placeholder="Country">
                       </div>
                       <div class="form-group">
                         <label class="label" for="inputE-mail">E-Mail</label>
                         <input type="text" class="form-control" id="inputE-mail" placeholder="E-Mail">
                       </div>
                     </div>
                     <div class="form-group">
                       <div class="form-check">
                         <input class="form-check-input" type="checkbox" id="gridCheck">
                         <label class="form-check-label" for="gridCheck">
                           Remember Me
                         </label>
                       </div>
                     </div>
                     <button type="submit"  onClick="v()" class="btn">Sign up</button>
                     <!-- <button type="submit"  onClick="show_name()" class="btn">Sign up</button> -->
                   </form>
             </div>
           </div>