
    <div class="text">
        <h3>SuperShow</h3>
        <p>The best way to investment</p>
      </div>

    <!-- ************* The Second Page PRODUCTS Starts Here ************** -->
  
    <div id="products">
    
      <div class="items">
  
        <a class="ggg" href="#BMW">
          <div id="item" class="item1" style=" background: url('assets/Images/2008-bmw-m1-hommage-23.jpg') 100%;
          background-size: cover;">
            <h1>BMW</h1>
          </div>
        </a>
        <a href="#Chevrolet">
          <div id="item" class="item2"style="  background: url('assets/Images/car1.jpg') 100%;
          background-size: cover;">
            <h1>Chevrolet</h1>
          </div>
        </a>
        <a href="#Mercedes">
          <div id="item" class="item3"style=" background: url('assets/Images/car2.jpeg') 100%;
          background-size: cover;">
            <h1>Mercedes</h1>
          </div>
        </a>
        <a href="#Bugatti">
          <div id="item" class="item4"style=" background: url('assets/Images/car7.jpg') 100%;
          background-size: cover;">
            <h1>Bugatti</h1>
          </div>
        </a>
        <a class="ferrari" href="#Ferrari">
          <div id="item" class="item5"style=" background: url('assets/Images/car6.jpg') 100%;
          background-size: cover;">
            <h1>Ferrari</h1>
          </div>
        </a>
        <a href="#Aston-Martin">
          <div id="item" class="item6" style="background: url('assets/Images/car7.jpeg') 100%;
          background-size: cover;">
            <h1>Aston Martin</h1>
          </div>
        </a>
      </div>

    <!-- ************************ -->
      <!-- ************* The Third Page BMW Starts Here ************** -->
  
  
      <div id="BMW">
        <div class="bmw-container">
          <h3 id = "car_type"> BMW cars </h3>
      <div class="bmw-item">
        <img class="bmw-item-img" src="assets/Images/bmw-i8.jpg" alt="bmw-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ..." onclick="">
      </div>
      <div class="bmw-item">
        <img class="bmw-item-img" src="assets/Images/BMW M3.jpg" alt="bmw-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="bmw-item">
        <img class="bmw-item-img" src="assets/Images/BMW i5.jpg" alt="bmw-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="bmw-item">
        <img class="bmw-item-img" src="assets/Images/BMW z4.jpg" alt="bmw-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="bmw-item">
        <img class="bmw-item-img" src="assets/Images/BMW 750Li.jpg" alt="bmw-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="bmw-item">
        <img class="bmw-item-img" src="assets/Images/BMW-3-Series-Exterior-167583.jpg" alt="bmw-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="bmw-item">
        <img class="bmw-item-img" src="assets/Images/background-car.jpg" alt="bmw-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="bmw-item">
        <img class="bmw-item-img" src="assets/Images/2008-bmw-m1-hommage-23.jpg" alt="bmw-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
    </div>
  </div>

<!-- ******************************** -->
  <!-- ************* The Forth Page CHEVROLET Starts Here ************** -->


  <div 
id="Chevrolet">
    <div class="chevrolet-container">
        <h3 id ="chev_type">Chevrolet</h3>
      <div class="chevrolet-item">
        <img class="chevrolet-item-img" src="assets/Images/chevrolet-c8.jpg" alt="chevrolet-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ..." onclick="">
      </div>
      <div class="chevrolet-item">
        <img class="chevrolet-item-img" src="assets/Images/chevrolet-camaro.jpg" alt="chevrolet-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="chevrolet-item">
        <img class="chevrolet-item-img" src="assets/Images/chevrolet-corvette.jpg" alt="chevrolet-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="chevrolet-item">
        <img class="chevrolet-item-img" src="assets/Images/chevrolet-malibu.jpg" alt="chevrolet-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="chevrolet-item">
        <img class="chevrolet-item-img" src="assets/Images/chevrolet-mid-ingined.jpg" alt="chevrolet-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="chevrolet-item">
        <img class="chevrolet-item-img" src="assets/Images/chevrolet-Traverse.jpg" alt="chevrolet-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="chevrolet-item">
        <img class="chevrolet-item-img" src="assets/Images/chevrolet-chevy.jpg" alt="chevrolet-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="chevrolet-item">
        <img class="chevrolet-item-img" src="assets/Images/chevrolet-chevy2.jpg" alt="chevrolet-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
    </div>
  </div>

  <!-- ************************************* -->
    <!-- ************* The Fifth Page MERCEDES Starts Here ************** -->

  <div id="Mercedes">
   
    <div class="mercedes-container">
        <h3 id ="chev_type">Mercedes</h3>

      <div class="mercedes-item">
        <img class="mercedes-item-img" src="assets/Images/mercedes-AMG.jpg" alt="mercedes-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ..." onclick="">
      </div>
      <div class="mercedes-item">
        <img class="mercedes-item-img" src="assets/Images/mercedes-autowise.jpg" alt="mercedes-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="mercedes-item">
        <img class="mercedes-item-img" src="assets/Images/mercedes-CLA250.jpg" alt="mercedes-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="mercedes-item">
        <img class="mercedes-item-img" src="assets/Images/Mercedes-EQA.jpg" alt="mercedes-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="mercedes-item">
        <img class="mercedes-item-img" src="assets/Images/mercedes-EQC.jpg" alt="mercedes-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="mercedes-item">
        <img class="mercedes-item-img" src="assets/Images/Mercedes-GLE.jpg" alt="mercedes-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="mercedes-item">
        <img class="mercedes-item-img" src="assets/Images/mercedes-S-class.jpg" alt="mercedes-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="mercedes-item">
        <img class="mercedes-item-img" src="assets/Images/mercedes-tasarimi.jpg" alt="mercedes-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
    </div>
  </div>
  <!-- **************************************** -->
    <!-- ************* The Sixth Page BUGATTI Starts Here ************** -->

  <div id="Bugatti">

    <div class="bugatti-container">
        <h3 id ="chev_type">Bugatti</h3>

      <div class="bugatti-item">
        <img class="bugatti-item-img"   src="assets/Images/ferrari-4s.jpg" alt="bugatti-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ..." onclick="">
      </div>
      <div class="bugatti-item">
        <img class="bugatti-item-img"   src="assets/Images/ferrari-4s.jpg"alt="bugatti-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="bugatti-item">
        <img class="bugatti-item-img"   src="assets/Images/ferrari-4s.jpg" alt="bugatti-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="bugatti-item">
        <img class="bugatti-item-img"   src="assets/Images/ferrari-4s.jpg"alt="bugatti-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="bugatti-item">
        <img class="bugatti-item-img"   src="assets/Images/ferrari-4s.jpg"alt="bugatti-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="bugatti-item">
        <img class="bugatti-item-img"   src="assets/Images/ferrari-4s.jpg" alt="bugatti-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="bugatti-item">
        <img class="bugatti-item-img"   src="assets/Images/ferrari-4s.jpg" alt="bugatti-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="bugatti-item">
        <img class="bugatti-item-img"  src="assets/Images/ferrari-4s.jpg" alt="bugatti-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
    </div>
  </div>

  <!-- ****************************** -->
    <!-- ************* The Seventh Page FERRARI Starts Here ************** -->

  <div id="Ferrari">
   
    <div class="ferrari-container">
        <h3 id ="chev_type">Ferrari</h3>

      <div class="ferrari-item">
        <img class="ferrari-item-img" src="assets/Images/ferrari-4s.jpg" alt="ferrari-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ..." onclick="">
      </div>
      <div class="ferrari-item">
        <img class="ferrari-item-img" src="assets/Images/ferrari-Auto Express.jpg" alt="ferrari-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="ferrari-item">
        <img class="ferrari-item-img" src="assets/Images/ferrari-c8.jpg" alt="ferrari-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="ferrari-item">
        <img class="ferrari-item-img" src="assets/Images/ferrari-F8.jpg" alt="ferrari-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="ferrari-item">
        <img class="ferrari-item-img" src="assets/Images/ferrari-geneva.jpg" alt="ferrari-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="ferrari-item">
        <img class="ferrari-item-img" src="assets/Images/ferrari-GTO.jpg" alt="ferrari-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="ferrari-item">
        <img class="ferrari-item-img" src="assets/Images/ferrari-mintauro.jpg" alt="ferrari-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="ferrari-item">
        <img class="ferrari-item-img" src="assets/Images/ferrari-preco.jpg" alt="ferrari-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
    </div>
  </div>
  <!-- ********************************* -->
    <!-- ************* The Eighth Page Aston-Martin Starts Here ************** -->

  <div id="Aston-Martin">
   
    <div class="aston-container">
        <h3 id ="chev_type">Aston-Martin</h3>

      <div class="aston-item">
        <img class="aston-item-img" src="assets/Images/Aston-22.jpg" alt="aston-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ..." onclick="">
      </div>
      <div class="aston-item">
        <img class="aston-item-img" src="assets/Images/Aston-AM-RB.jpg" alt="aston-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="aston-item">
        <img class="aston-item-img" src="assets/Images/Aston-DB11.jpg" alt="aston-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="aston-item">
        <img class="aston-item-img" src="assets/Images/Aston-DBS.jpg" alt="aston-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="aston-item">
        <img class="aston-item-img" src="assets/Images/Aston-V8.jpg" alt="aston-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="aston-item">
        <img class="aston-item-img" src="assets/Images/Aston-Valhalla.jpg" alt="aston-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="aston-item">
        <img class="aston-item-img" src="assets/Images/Aston-Vanquish.jpg" alt="aston-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
      <div class="aston-item">
        <img class="aston-item-img" src="assets/Images/Aston-Vantage.jpg" alt="aston-item image">
        <h4>{{view.name}}</h4>
        <p>{{view.price}}</p>
        <input type="submit" value="details ...">
      </div>
    </div>
  </div>


  